{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>D&C - {% block title%}{% endblock title%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/icomoon-social.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'blog/css/leaflet.css' %}" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="{% static 'blog/css/leaflet.ie.css' %}" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">

        <script src="{% static 'blog/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
	        	<div class="menuextras">
					<div class="extras">
						<ul>
							<li> <a href="#"><b>Register</b></a></li>

							</li>
			        		<li><a href="#">Login</a></li>
			        	</ul>
					</div>
		        </div>
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="{% url 'home' %}"><img src="{% static 'blog/img/mPurpose-logo.png' %}" alt="logo photo"></a></li>
						<li>
							<a href="{% url 'home' %}">Home</a>
						</li>
						<li>
							<a href="{% url 'blog' %}">Blogs</a>
						</li>
						<li>
							<a href="{% url 'blog_post_form' %}">Create Blog</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{% block page_title%}{% endblock page_title%}</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- Body/Content -->
		{% block content %}
		{% endblock content %}
		<!-- End of Body/Content -->

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Our Latest Work</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{% static 'blog/img/portfolio6.jpg' %}" alt="Project Name"></a>
							</div>
						</div>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Navigate</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="{% url 'home' %}">Home</a></li>
		    				<li><a href="{% url 'blog' %}">Blog</a></li>
		    				<li><a href="{% url 'blog_post_form' %}">Create Blog</a></li>
		    			</ul>
		    		</div>

		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 19 Nsirim Street, Off Ada-George Mile 4, Port-Harcourt, Rivers State, Nigeria<br/>
	        				<b>Phone:</b> +234 903 2604 209<br/>
	        				<b>Fax:</b> +234 905 8646 818<br/>
	        				<b>Email:</b> <a href="mailto:levi.chinecherem@yahoo.com">levi.chinecherem@yahoo.com</a>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2022 Levi Chinecherem Chidi. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'blog/js/jquery-1.9.1.min.js' %}"><\/script>')</script>
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="{% static 'blog/js/jquery.fitvids.js' %}"></script>
        <script src="{% static 'blog/js/jquery.sequence-min.js' %}"></script>
        <script src="{% static 'blog/js/jquery.bxslider.js' %}"></script>
        <script src="{% static 'blog/js/main-menu.js' %}"></script>
        <script src="{% static 'blog/js/template.js' %}"></script>

    </body>
</html>