<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>D&C - Welcome's You!</title>
	<meta http-equiv="refresh" content="5; url={% url 'blog' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="stylesheet" href="{% static 'blog/landing.css' %}">

</head>
<body style="background:#011 !important;">
<!-- partial:index.partial.html -->
<main>
	<div class="clock" role="img" aria-label="Analog clock with the second hand showing a motion trail">
		<div class="clock__ticks">
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
			<div class="clock__tick"></div>
		</div>
		<div class="clock__hands">
			<div class="clock__hand clock__hand--hr"></div>
			<div class="clock__hand clock__hand--min"></div>
			<div class="clock__hand clock__hand--sec">
				<div class="clock__hand-trail"></div>
				<div class="clock__hand-trail"></div>
				<div class="clock__hand-trail"></div>
				<div class="clock__hand-trail"></div>
				<div class="clock__hand-trail"></div>
				<div class="clock__hand-trail"></div>
				<div class="clock__hand-trail"></div>
				<div class="clock__hand-trail"></div>
			</div>
		</div>
	</div>
</main>
<!-- partial -->
  <script  src="{% static 'blog/landing.js' %}"></script>

</body>
</html>
